<div class="jumbotron text-center" style="margin-bottom:0">
    <div class="container">
        <h1>Esto es Contact</h1>
        <p>Programación web</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id mi commodo, posuere felis non, egestas
            libero. Morbi quis hendrerit lorem, eu congue tortor. Aenean in sem et augue imperdiet tincidunt. Duis
            ornare pulvinar lacus sit amet pretium. Maecenas porttitor laoreet lobortis. Nulla facilisi. Nam non purus
            elit. Mauris ullamcorper eros sit amet nunc rutrum accumsan.</p>
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam interdum
            nec erat ac accumsan. Maecenas a lectus congue, bibendum metus convallis, tincidunt nisi. Fusce vitae turpis
            nec dolor interdum blandit ac id metus. Morbi et lorem eros. Nunc euismod augue augue, sed pretium odio
            congue vitae. Nullam sit amet eros purus.</p>
        <p>Suspendisse feugiat cursus ullamcorper. Cras viverra leo condimentum feugiat volutpat. In orci dui, commodo a
            luctus et, pulvinar vitae sem. Nunc rhoncus mattis dui. Aliquam vulputate, urna id vulputate tristique, nibh
            risus finibus dolor, vitae dapibus nisl ligula vel tortor. Aliquam euismod pharetra velit vitae
            pellentesque. Duis euismod nisl et pulvinar lacinia. Suspendisse lorem nisl, eleifend pretium euismod non,
            posuere ut mauris. Aenean nec pharetra orci.</p>
    </div>
</div>